[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = Howard Lo
	email = warhod@users.noreply.github.com

[push]
	default = current

[hub]
	protocol = https

[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	br = branch
	co = checkout
	st = status
	ci = commit -v
	cp = cherry-pick
	rb = !git fetch origin && git rebase origin/main
	ri = rebase -i origin/main
	m = checkout main
	purr = pull --rebase origin main

[color]
	ui = true

[core]
	excludesfile = /Users/howard/.gitignore_global
	editor = nvim

[init]
	defaultBranch = main
